body {
    background-color: #868484;
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: solid 1px red;
}

a {
    text-decoration: none;
}
.HeadingElements {
    background-color: purple;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    color: blue;
}
#Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.NavbarElementContainer {
    float: left;
}
.NavbarElements {
    font-size: 30px;
    display: block;
    padding: 8px;
    background-color: purple;
    color: blue;
}

.NavbarElements:hover {
    color: orange;
}
.NavbarElements:active {
    color: orange;
    text-decoration: underline
}
#About {
    background-color: red;
    border-style: solid;
    border-width: 2px;
    border-color: darkgreen;
    color: darkgreen;
}
figcaption.NesInfoText {
    font-size: 15px;
}
#HowToUse {
    background-color: orange;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(17, 17, 156);
    color: rgb(17, 17, 156);
}
* :not(h1).HowToUseText {
    font-size: 15px;
}
#TopGames {
    background-color: green;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    color: lightblue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#NESControllerPic {
    width:363px;
    height: 162px;
}
.DropdownButton {
    float: left;
    background-color: transparent;
    border: none;
    padding: 0;
}
#About div {
    border: inherit;
}
#HowToUse div {
    border: inherit;
}
#TopGames div {
    border: inherit;
}
.DropdownBox {
    display: flex;
    text-align: center;
}